Phonebook.CaliburnMicro/Phonebook.CaliburnMicro/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Friends" type="tns:Friends" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Friends">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FriendsItem" type="tns:FriendsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FriendsItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Phone Number" name="PhoneNumber" type="xs:string" />
  </xs:complexType>
</xs:schema>